<li><a href="/Products" class="fw-bold">Products</a></li>
@foreach (var category in Categories)
{
    <li><a href="/Products/Category/@(category.Slug)">@(category.Name)</a></li>
}
@code {
    [Parameter] public PageList<CategoryVM> Categories { get; set; } = [];
}
