<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
    <div class="footer-widget mb25">
        <h4 class="widget-title">@Resource.SubscribeOurNewsletter</h4>
        <p>@Resource.SubscribeToTheMailingListToReceiveUpdatesOnSpecialOffersNewArrivalsAndOurPromotions</p>
        <div class="newsletter-form">
            <input name="subscribe_email" id="subscribe_email" type="email" placeholder="@Resource.EnterYourEmailAddress">
            <button class="btn theme-btn mt10 full subscribe_btn sub_btn position-relative">@Resource.Submit</button>
            <div class="subscribe_msg mt5"></div>
        </div>
    </div>
</div>

@code {

}