<div class="modal fade show" id="subscribe_popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-modal="true" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content newsletter-card">
			<div class="modal-header newsletter-header">
				<button onclick="popup_modal_close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body newsletter-body">
				<h4>Subscribe our newsletter</h4>
				<p class="mb20">Subscribe to the mailing list to receive updates on special offers, new arrivals and our promotions.</p>
				<div class="newsletter-form">
					<input name="newsletter_email" id="newsletter_email" type="email" placeholder="Enter your email address">
					<a class="btn theme-btn mt10 full newsletter_btn nletter_btn" href="javascript:void(0);">Submit</a>
					<div class="newsletter_msg mt5"></div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
