<li>
    <div class="btn-group language-menu">
        <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-translate"></i>En
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item">En</a></li>
            <li><a class="dropdown-item">Ar</a></li>
        </ul>
    </div>
</li>

@code {
}
