<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="top-contact">
                    <li><i class="bi bi-geo-alt"></i>@Resource.BShop_Address</li>
                    <li class="phone"><i class="bi bi-telephone"></i>@Resource.Shop_PhoneNumber</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="top-list">
                    <li><a href="/Orders/Tracking"><i class="bi bi-geo"></i>@Resource.OrderTracking</a></li>
                    <UserLinks />
                    <LanguageDropDown />
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
}
