@using Microsoft.AspNetCore.Components.Sections
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <HeadOutlet />
    <link rel="stylesheet" href="@Assets["bShop.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    
    <SectionOutlet SectionName="Scripts" />

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</body>

</html>
