<div class="sidebar mb20">
	<div class="widget mb40">
		<h5 class="widget-title">Filter by Category</h5>
		<div class="checkboxlist">
			<ul class="checkbox-list">
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_14" value="14">Accessories <span class="num">(1)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_5" value="5">Camera <span class="num">(2)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_2" value="2">Computer <span class="num">(3)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_9" value="9">Fan <span class="num">(2)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_6" value="6">Headphones <span class="num">(2)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_13" value="13">Health And Beauty <span class="num">(0)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_11" value="11">Jewelry &amp; Watch <span class="num">(1)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_4" value="4">Laptop <span class="num">(3)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_1" value="1">Mobile <span class="num">(3)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_3" value="3">Monitor <span class="num">(2)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_8" value="8">Motor Bike <span class="num">(4)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_10" value="10">Shoes <span class="num">(0)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_12" value="12">TV &amp; Videos <span class="num">(0)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_category" name="filter_by_category" id="filter_by_category_7" value="7">Wireless Speakers <span class="num">(1)</span>
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="widget mb40">
		<h5 class="widget-title">Filter by Brand</h5>
		<div class="checkboxlist">
			<ul class="checkbox-list">
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_20" value="20">Abu Brand <span class="num">(3)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_29" value="29">Abukaka <span class="num">(3)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_34" value="34">AF-Brand <span class="num">(2)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_44" value="44">CA Brand <span class="num">(2)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_33" value="33">D Brand <span class="num">(4)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_30" value="30">Footwear <span class="num">(2)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_43" value="43">Pakha Brand <span class="num">(2)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_36" value="36">Roadstar <span class="num">(4)</span>
					</label>
				</li>
				<li>
					<label class="checkbox-title">
						<input type="checkbox" class="filter_by_brand" name="filter_by_brand" id="filter_by_brand_32" value="32">Smartphone <span class="num">(2)</span>
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="widget mb40">
		<h5 class="widget-title">Filter by Color</h5>
		<ul class="widget-color">
			<li class="active_color" id="color_6"><a data-color="6" id="Red|#dd0e14" class="filter_by_color" href="javascript:void(0);" title="Red"><span style="background:#dd0e14;"></span></a></li>
			<li class="active_color" id="color_7"><a data-color="7" id="Green|#1faa04" class="filter_by_color" href="javascript:void(0);" title="Green"><span style="background:#1faa04;"></span></a></li>
			<li class="active_color" id="color_8"><a data-color="8" id="Blue|#10c4e4" class="filter_by_color" href="javascript:void(0);" title="Blue"><span style="background:#10c4e4;"></span></a></li>
			<li class="active_color" id="color_9"><a data-color="9" id="Black|#000000" class="filter_by_color" href="javascript:void(0);" title="Black"><span style="background:#000000;"></span></a></li>
			<li class="active_color" id="color_10"><a data-color="10" id="Purple|#7a6fec" class="filter_by_color" href="javascript:void(0);" title="Purple"><span style="background:#7a6fec;"></span></a></li>
			<li class="active_color" id="color_11"><a data-color="11" id="Silver|#c8c8c8" class="filter_by_color" href="javascript:void(0);" title="Silver"><span style="background:#c8c8c8;"></span></a></li>
			<li class="active_color" id="color_12"><a data-color="12" id="Yellow|#e7a202" class="filter_by_color" href="javascript:void(0);" title="Yellow"><span style="background:#e7a202;"></span></a></li>
			<li class="active_color" id="color_13"><a data-color="13" id="White|#dddddd" class="filter_by_color" href="javascript:void(0);" title="White"><span style="background:#dddddd;"></span></a></li>
		</ul>
	</div>
	<div class="widget">
		<h5 class="widget-title">Filter by Size</h5>
		<ul class="widget-size">
			<li class="active_size" id="size_1"><a data-size="1" id="S" class="filter_by_size" href="javascript:void(0);">S</a></li>
			<li class="active_size" id="size_2"><a data-size="2" id="M" class="filter_by_size" href="javascript:void(0);">M</a></li>
			<li class="active_size" id="size_3"><a data-size="3" id="L" class="filter_by_size" href="javascript:void(0);">L</a></li>
			<li class="active_size" id="size_4"><a data-size="4" id="XL" class="filter_by_size" href="javascript:void(0);">XL</a></li>
			<li class="active_size" id="size_5"><a data-size="5" id="XXL" class="filter_by_size" href="javascript:void(0);">XXL</a></li>
		</ul>
	</div>
</div>
@code {

}
