@inject IJSRuntime JS
@rendermode InteractiveServer

@if (Products.Count > 0)
{
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="section-heading">
                    <h3 class="title">@Title</h3>
                    <a class="btn theme-btn seeall-btn" href="@SeeAllLink">@Resource.SeeAll</a>
                </div>
            </div>

            <div class="row owl-carousel caro-common @CssClass">
                @foreach (var prd in Products)
                {
                    <ProductCard Product="prd" />
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public required string Title { get; set; }
    [Parameter] public required string SeeAllLink { get; set; }
    [Parameter] public required string CssClass { get; set; }
    [Parameter] public required List<ProductCardVM> Products { get; set; } = [];
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("productsSlider", $".{CssClass}");
    }
}