<div class="add-part-section">
	<div class="add-bg" style="background-image:url(imgs/offers/offer-1.png)">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 offset-lg-4 col-md-12 col-sm-12 col-12">
					<div class="add-card">
						<h2>@Resource.Trending</h2>
						<p>@Resource.TrendingDescription</p>
						<a class="btn theme-btn" href="/">@Resource.ShopNow</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>