@inherits LayoutComponentBase

<BlazoredToasts PauseProgressOnHover="true" ShowProgressBar="true" Position="ToastPosition.TopRight" />

<HeadContent>
</HeadContent>

<main>
    @Body
</main>

@code {
}