<!-- Sidebar -->
<div class="sidebar-wrapper" style="overflow: hidden; outline: none;" tabindex="1">
	<div class="logo">
		<a href="https://www.bshopen.themeposh.net/backend/dashboard">
			<img src="https://www.bshopen.themeposh.net/public/media/06082021041108-200x200-logo.png" alt="logo">
		</a>
	</div>
	<div class="version">Theme V 2.2.1</div>
	<ul class="left-navbar">
		<li><a href="https://www.bshopen.themeposh.net/backend/dashboard" class="active"><i class="fa fa-tachometer"></i>Dashboard</a></li>
		<li><a href="https://www.bshopen.themeposh.net/backend/media"><i class="fa fa-picture-o"></i>Media</a></li>
		<li><a href="https://www.bshopen.themeposh.net/backend/page"><i class="fa fa-clipboard"></i>Pages</a></li>
		<li><a href="https://www.bshopen.themeposh.net/backend/orders" id="select_orders"><i class="fa fa-rocket"></i>Orders</a></li>
		<li class="dnone"><a href="https://www.bshopen.themeposh.net/backend/transactions"><i class="fa fa-credit-card"></i>Transactions</a></li>
		<li class="dropdown">
			<a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>eCommerce</a>
			<ul class="dropdown-menu">
				<li><a href="https://www.bshopen.themeposh.net/backend/products">Products</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/manage-stock">Manage Stock</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/product-categories">Product Categories</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/brands">Brands</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/shipping">Shipping</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/collections">Collections</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/attributes">Attributes</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/labels">Labels</a></li>
				<li class="dnone"><a href="https://www.bshopen.themeposh.net/backend/coupons">Coupons</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/tax">Tax</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/currency">Currency</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/payment-methods">Payment Methods</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/slider">Home Slider</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/offer-ads">Offer &amp; Ads</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/trending">Trending</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fa fa-wrench"></i>Appearance</a>
			<ul class="dropdown-menu">
				<li><a href="https://www.bshopen.themeposh.net/backend/menu">Menu</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/theme-options">Theme Options</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fa fa-sitemap"></i>Marketplace</a>
			<ul class="dropdown-menu">
				<li><a href="https://www.bshopen.themeposh.net/backend/sellers">Sellers</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/withdrawals">Withdrawals</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/seller-settings">Settings</a></li>
			</ul>
		</li>
		<li><a href="https://www.bshopen.themeposh.net/backend/customers"><i class="fa fa-users"></i>Customers</a></li>
		<li><a href="https://www.bshopen.themeposh.net/backend/review"><i class="fa fa-recycle"></i>Review &amp; Ratings</a></li>

		<li class="dropdown">
			<a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fa fa-paper-plane"></i>Newsletters</a>
			<ul class="dropdown-menu">
				<li><a href="https://www.bshopen.themeposh.net/backend/subscribers">Subscribers</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/subscribe-settings">Subscribe Settings</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/mailchimp-settings">MailChimp Settings</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fa fa-language"></i>Languages</a>
			<ul class="dropdown-menu">
				<li><a href="https://www.bshopen.themeposh.net/backend/languages">Languages</a></li>
				<li><a href="https://www.bshopen.themeposh.net/backend/language-keywords">Language Keywords</a></li>
			</ul>
		</li>
		<li><a id="active-settings" href="https://www.bshopen.themeposh.net/backend/general"><i class="fa fa-cogs"></i>Settings</a></li>
		<li><a href="https://www.bshopen.themeposh.net/backend/users"><i class="fa fa-user-plus"></i>Users</a></li>
	</ul>
</div>		<!-- /Sidebar/ -->
@code {
}
