@page "/cookie-policy"
<div class="breadcrumb-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="page-title">
					<h1>Cookie Policy</h1>
				</div>
			</div>
			<div class="col-lg-7">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Cookie Policy</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="inner-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="entry min-height">
					<h6>What's a Cookies Policy</h6>
					<p>A Cookies Policy is a policy that provides users with detailed information about the types of cookies a website uses, how these cookies are used, and how users can control cookies placement through limiting or forbidding a website to place cookies on his/her electronic device.</p>
					<p>A Privacy Policy will often include a section within it that covers Cookies. However, in the EU, having a fully separate Cookies Policy is required.</p>
					<p>In this case, any information about cookies can also be placed in the Privacy Policy but then referenced in the separate Cookies Policy.</p>

					<h6>Legal Requirements for Cookies Policies</h6>
					<p>Any EU business that uses cookies must comply with the EU Cookies Law, which requires a Cookie Policy to be in place. Visitors to your website must be alerted that cookies are in use, what kind of cookies are in use, and given the option to opt out of having these cookies placed on their devices.</p>
					<p>A Cookie Policy is where this information can be thoroughly detailed and explained to your visitors.</p>
					<p>While pop-up boxes and banner notifications alert users that cookies are being used and can allow for an option to opt out within that box or banner, this kind of policy is where further information can be detailed and accessible to your visitors at any time.</p>

					<h6>What to Include in Your Cookies Policy</h6>
					<p>All Cookies Policies will include the same basic information:</p>
					<ul>
						<li>That cookies are in use on your website</li>
						<li>What cookies are</li>
						<li>What kind of cookies are in use (by you and/or third parties)</li>
						<li>How and why you (and/or third parties) are using the cookies</li>
						<li>How a user can opt out of having cookies placed on a device</li>
					</ul>
					<p>Let's look at some examples of Cookies Policy clauses that address the above information.</p>

					<h6>You Use Cookies, and What Cookies Are</h6>
					<p>Most Cookies Policies start by letting users know that cookies are in use, and telling them what cookies are. Simple, easy-to-understand language should be used here so that everyone is able to understand what the policy is saying.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci sagittis eu volutpat odio facilisis mauris sit amet massa. Egestas tellus rutrum tellus pellentesque eu. Id interdum velit laoreet id donec ultrices tincidunt. Faucibus turpis in eu mi bibendum neque egestas congue quisque. Est ultricies integer quis auctor elit sed vulputate mi. Leo vel fringilla est ullamcorper eget nulla. Odio pellentesque diam volutpat commodo. Tincidunt augue interdum velit euismod in pellentesque massa placerat duis. Auctor urna nunc id cursus metus aliquam. Sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis. Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
	.header-menu .container .row .col-lg-3 {
		display: none;
	}
</style>
@code {

}
