@page "/privacy-policy"

<div class="breadcrumb-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="page-title">
                    <h1>Privacy Policy</h1>
                </div>
            </div>
            <div class="col-lg-7">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry min-height">
                    <h6>What is a privacy policy?</h6>
                    <p>A privacy policy is a document that states what personal data you collect from your users, why, and how you keep it private.</p>
                    <p>The purpose of the privacy policy is to inform your users about how their data is being handled.</p>
                    <p>Hence, the privacy policy should be accessible for your users and kept in plain and readable language.</p>
                    <p>Most countries have privacy laws requiring that websites collecting personal data have a proper privacy policy in place.</p>
                    <p>Failure to comply can result in heavy fines and even prosecution. Are you based in the EU or providing services to EU citizens, you must have a GDPR compliant privacy policy on your domain.</p>
                    <p>We will get into this in more detail below.</p>

                    <h6>What is personal data?</h6>
                    <p>Personal data is information that can identify an individual, either directly or when combined with other data.</p>
                    <p>Names, e-mails, addresses, localization, IP addresses, photos, and account information all are directly identifying data.</p>
                    <p>Health information, income, religion, and cultural profiles, and the like is also personal data.</p>
                    <p>Furthermore, and crucial in the present context, data on user behavior is also personal. Cookies can track and register individual users’ browsing activities, like what articles they scroll past and which ones they choose to click on.</p>

                    <h6>Why is a privacy policy important?</h6>
                    <p>The most important thing to remember is that a privacy policy is required by law if you collect data from users, either directly or indirectly. For example, if you have a contact form on your website you need a privacy policy. But you will also need a privacy policy if you use analytics tools such as Google Analytics.</p>

                    <h6>Where do I put my privacy policy?</h6>
                    <p>Usually, you can find privacy policies in the footer of a website. We recommend that you place your privacy policy in easy to find locations on your website.</p>

                    <h6>What should the privacy policy include?</h6>
                    <p>A standard privacy policy should include: what data you collect from visitors, how you collect it, why you are collecting the data, how you are using the data.</p>

                    <h6>Why you Need a Privacy Policy</h6>
                    <p>Privacy is not a new concept. Humans have always desired privacy in their social as well as private lives. But the idea of privacy as a human right is a relatively modern phenomenon.</p>
                    <p>Around the world, laws and regulations have been developed for the protection of data related to government, education, health, children, consumers, financial institutions, etc.</p>
                    <p>This data is critical to the person it belongs to. From credit card numbers and social security numbers to email addresses and phone numbers, our sensitive, personally identifiable information is important. This sort of information in unreliable hands can potentially have far-reaching consequences.</p>
                    <p>Companies or websites that handle customer information are required to publish their Privacy Policies on their business websites. If you own a website, web app, mobile app or desktop app that collects or processes user data, you most certainly will have to post a Privacy Policy on your website (or give in-app access to the full Privacy Policy agreement).</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .header-menu .container .row .col-lg-3 {
        display: none;
    }
</style>
@code {

}
