<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
				<div class="banner-item mb25">
					<div class="banner-item-img">
						<img src="imgs/products/product-5.jpg" alt="New">
					</div>
					<div class="banner-item-info">
						<h2>New</h2>
						<h4>Collection</h4>
						<a class="btn theme-btn" href="#">Shop Now</a>
					</div>
				</div>
				<div class="banner-item mb25">
					<div class="banner-item-img">
						<img src="imgs/products/product-4.jpg" alt="Hot">
					</div>
					<div class="banner-item-info">
						<h2>Hot</h2>
						<h4>Collection</h4>
						<a class="btn theme-btn" href="#">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
				<div class="banner-item mb25">
					<div class="banner-item-img">
						<img src="imgs/products/product-1.jpg" alt="10% Offer">
					</div>
					<div class="banner-item-info">
						<h2>10% Offer</h2>
						<h4>No Selected Models</h4>
						<a class="btn theme-btn" href="#">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
				<div class="banner-item mb25">
					<div class="banner-item-img">
						<img src="imgs/products/product-2.jpg" alt="New">
					</div>
					<div class="banner-item-info">
						<h2>New</h2>
						<h4>Arrivals</h4>
						<a class="btn theme-btn" href="#">Shop Now</a>
					</div>
				</div>
				<div class="banner-item mb25">
					<div class="banner-item-img">
						<img src="imgs/products/product-3.jpg" alt="Hot">
					</div>
					<div class="banner-item-info">
						<h2>Hot</h2>
						<h4>Offer</h4>
						<a class="btn theme-btn" href="#">Shop Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>