<footer class="border-top">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
					<div class="footer-widget mb10">
						<h4 class="widget-title">Contact Us</h4>
						<ul class="widget-contact">
							<li><strong>Address:</strong> 56 King Street, New York</li>

							<li><strong>Email:</strong> support@bshop.com</li>

							<li><strong>Phone:</strong> +1 964 123 456789</li>
						</ul>
					</div>
					<div class="social-media mb25">
						<a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a><a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a><a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a><a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
					<div class="footer-widget mb25">
						<h4 class="widget-title">Quick links</h4>
						<ul class="widget-list">
							<li><a target="_self" href="https://bshopen.themeposh.net/page/44/privacy-policy">Privacy Policy</a></li>
							<li><a target="_self" href="https://bshopen.themeposh.net/page/45/terms-and-conditions">Terms and Conditions</a></li>
							<li><a target="_self" href="https://bshopen.themeposh.net/page/46/purchasing-policy">Purchasing Policy</a></li>
							<li><a target="_self" href="https://bshopen.themeposh.net/page/47/cookie-policy">Cookie Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
					<div class="footer-widget mb25">
						<h4 class="widget-title">Company</h4>
						<ul class="widget-list">
							<li><a target="_self" href="https://bshopen.themeposh.net/page/48/about-us">About us</a></li>
							<li><a target="_self" href="https://bshopen.themeposh.net/page/49/career">Career</a></li>
							<li><a target="_self" href="https://bshopen.themeposh.net/page/50/affiliate">Affiliate</a></li>
							<li><a target="_blank" href="https://api.whatsapp.com/send/?phone=8801750155902&amp;text=Hello+I+have+a+query&amp;app_absent=0">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
					<div class="footer-widget mb25">
						<h4 class="widget-title">Subscribe our newsletter</h4>
						<p>Subscribe to the mailing list to receive updates on special offers, new arrivals and our promotions.</p>
						<div class="newsletter-form">
							<input name="subscribe_email" id="subscribe_email" type="email" placeholder="Enter your email address">
							<a class="btn theme-btn mt10 full subscribe_btn sub_btn" href="javascript:void(0);">Submit</a>
							<div class="subscribe_msg mt5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copy-right">
						Copyright © 2022. All rights reserved by <a href="#">bShop</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="payment-method">
						<img src="imgs/payment.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>