@inject IJSRuntime JS

<div class="cart-sidebar">
	<a @onclick="toggleShppingCart" class="sidebar-close sidebar_show_hide">
		<i class="bi bi-x-lg"></i>
	</a>
	<div class="cart-head">
		Shopping Cart
	</div>
	<div class="cart-body" id="tp_cart_data"></div>
	<div class="cart-footer">
		<div class="carttotals">
			<span class="title">Subtotal:</span>
			<span class="price sub_total">$0.00</span>
		</div>
		<div class="carttotals">
			<span class="title">Tax:</span>
			<span class="price tax">$0.00</span>
		</div>
		<div class="carttotals">
			<span class="title">Total:</span>
			<span class="price tp_total">$0.00</span>
		</div>
		<a href="https://bshopen.themeposh.net/cart" class="btn black-btn checkout mt10">View Cart</a>
		<a href="https://bshopen.themeposh.net/checkout" class="btn theme-btn checkout">Checkout</a>
	</div>
</div>

@code {
	async void toggleShppingCart() =>
		await JS.InvokeVoidAsync("toggleShppingCart");
}