<div class="add-part-section">
	<div class="add-bg" style="background-image:url(imgs/offers/offer-1.png)">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 offset-lg-4 col-md-12 col-sm-12 col-12">
					<div class="add-card">
						<h2>Trending</h2>
						<p>Consectetur adipisicing elit. Dolores nisi distinctio magni</p>
						<a class="btn theme-btn" href="https://www.bshop.themeposh.net/trending-products">Shop Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>